/**
 * file-info: base
 * create-date: 2015-06-26 13:24:00
 * author: Yu Bei
 */

* {
    &, &:before, &:after {
        @include box-sizing;
    }
}

a, button{
    color: $linkColor;
    text-decoration: none;
    @include transition(all 0.2s ease-in-out);
}

h1, h2, h3, h4, h5, h6{
    font-weight: $boldFontWeight;
    color: $grayDark;
    text-rendering: optimizelegibility;
    margin-top: 0;
    @include convert-px-rem(margin-bottom, 24);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: $grayDark;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
    color: $linkColor;
}

h1, .h1{
    @include convert-px-rem(font-size,40);
    line-height: 1.2;
    @include mediaQuery($on-laptop1){
        &{
            @include convert-px-rem(font-size, 48);
        }
    }
}

p{
    line-height: 1.6875;
    margin-top: 0;
    @include convert-px-rem(margin-bottom, 24);
}


html{
    -webkit-font-smoothing: antialiased;
    background-color: $white;
    -ms-text-size-adjust: $base-size;
    -webkit-text-size-adjust: $base-size;
}

body{
    font-family: $base-font-family;
    font-size: $base-size;
    line-height: $base-line-height;
    font-style: $base-font-style;
    color: $textColor;
    background-color: $bodyBackground;
    @include animation(fontfix 0.1s linear 0.1s 1);
    @include keyframes(fontfix){
        from {opacity: 1}
        to {opacity: 1}
    }
}

.btn, .button {
    @include btn($grayDark, $white);
}

input#submit {
    border: 1px solid #ccc;
}

.btn.white, .button.white {
    @include btn($white, $grayDark);
}


@include font-face(YB,'../font/YB');
.font{
    font-family: YB;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}