/**
 * file-info: footer
 * create-date: 2015-06-27 00:45:00
 * author: yubei
 */

/* footer */
.site-footer{
    background: #383838;
    color: $gray;
    z-index: 999;
    position: relative;
    @include clearfix;
    @include padding(2.1em 0 1.05em 0);
    a{
        color: $white;
        &:hover{
            text-decoration: underline;
        }
    }
    .footer-content{
        max-width: 960px;
        @extend %horizontal-center;
        position: relative;
        p{
            font-size: $small-font-size;
            //font-weight: bold;
            text-align: center;
            color: $grayLighter;
            &.engage{
                right: 0;
                @include mediaQuery($on-laptop1){
                    text-align: right;
                    right: 0;
                }
                a{
                    padding-right: 1em;
                }
            }
            @include mediaQuery($on-laptop1){
                position: absolute;
                top: 20px;
                left: 0;
                text-align: left;
            }
        }
        .logo{
            text-align: center;
            font-size: 2.5em;
            display: block;
            margin: .125em auto;
            width: 30px;
            position: relative;
            z-index: 1000;
            &:hover{
                color: #212121;
                text-decoration: none;
            }
            span{
                display: none;
            }
        }
    }
}