/**
 * file-info: mixin
 * create-date: 2015-06-25 12:29:00
 * author: Yu Bei
 */


// mediaQuery
@mixin mediaQuery($constraint, $viewport1, $viewport2: null) {
    @if $constraint == $min {
        @media screen and ($min: $viewport1) {
            @content;
        }
    } @else if $constraint == $max {
        @media screen and ($max: $viewport1) {
            @content;
        }
    } @else {
        @media screen and ($min: $viewport1) and ($max: $viewport2) {
            @content;
        }
    }
}

@mixin convert-px-rem($property, $Size) {
    #{$property} : #{$Size}px;
    #{$property} : #{rem($Size)};
}


@mixin btn($primaryColor, $secondaryColor) {
    font-weight: $boldFontWeight;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    @include padding(0.55m 0.875em);
    @include border-radius(3px);
    @include transition(all .2s ease-in-out);
    &:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
        text-decoration: none;
    }
}